body{
    background-color: #F3F3F3;
}
.nav-bar{
    border-width: 0px 0px 1px 0px;
    border-style: solid;
    border-color: black;
    padding: 25px 25px;
    background-color: white;
    display: grid;
    grid-template-columns: 1130px 230px 110px;
    gap: 10px;
}
i{
    font-size: 27px;
}
.searche{
    display: inline;
}
.nav-bar i{
    margin-top: -5px;
}
.menu{
    display: grid;
    grid-template-columns: auto auto auto;
}
.searche input{
    border: 1px solid black;
    box-shadow: 0 0 10px rgba(255, 255, 255, 50%);
    border-radius:50px;
    padding: 5px 0px 5px 40px;
}
.searche i{
    position: absolute;
    right: 320px;
    top: 27px;
}
.Photo-de-couverture{
    background-image: url(palastine.jpg);
    background-size: cover;
    background-position: 0px -100px;
    width: 1200px;
    height: 260px;
    margin-left: 170px ;
}
.profile-user{
    margin-left: 170px ;
    background-color: white;
    margin-right: 149px;
    margin-top: -24px;
    padding-bottom: 200px;
}
.profile-user img{
    border: 0px;
    border-radius: 50%;
    height: 220px;
    width: 220px;
    position: absolute;
    top: 230px;
    left: 200px;
}
.profile-user h1{
    position: absolute;
    left: 430px;
}
.name span{
    position: absolute;
    top: 400px;
    left: 430px;
}
span{
    font-size: 25px;
}
.name i{
    position: absolute;
    right: 180px;
}
.edit{
    background-color: #F3F3F3;
    position: absolute;
    display: grid;
    grid-template-columns: auto auto;
    column-gap:10px;
    border-radius: 5px;
    padding: 5px;
    top: 470px;
    left: 190px;
}
.edit1{
    background-color: #F3F3F3;
    position: absolute;
    display: grid;
    grid-template-columns: auto auto;
    column-gap:10px;
    border-radius: 5px;
    padding: 5px;
    top: 470px;
    left: 190px;
    padding-right: 50px;
}
.add{
    background-color: #96C3E2;
    position: absolute;
    display: grid;
    grid-template-columns: auto auto;
    column-gap:10px;
    border-radius: 5px;
    padding: 5px;
    top: 470px;
    left: 370px;
}
.details{
    position: absolute;
    top: 440px;
    right: 190px;;
    display: grid;
    grid-template-columns: repeat(3,auto);
    gap: 40px;
}
.details p{
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 0px;
}
.information{
    margin-left: 170px;
    margin-top: 20px;
    display: grid;
    grid-template-columns: 450px 730px;
    column-gap: 20px;
}
.about{
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    padding-bottom: 400px;
}
.publication{
    background-color: white;
    border-radius: 5px;
}
.publication p{
    position: absolute;
    font-size: 25px;
    top: 90%;
    right: 400px;
}
.publication1{
    display: grid;
    grid-template-columns: 90px 250px;
}
.publication1 img{
    border: 0px;
    border-radius: 50%;
    height: 70px;
    width: 70px;
    margin-left: 10px;
    margin-top: 3px;
}
.publication1 h3{
    margin-top: 20px;
    font-size: 20px;
}